body {
    background-color: rgba(42,42,46,1);
}

.container {
    max-width: 1015px;
    text-align: center;
    margin: auto;
}

/* Banner section goes here */

.banner {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    /*Specific colour goes here*/
    color: navy;
    max-width: 1015px;
    max-height: 150px;
}

.banner_title {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*SEARCHBAR HERE*/

.search {
    overflow: hidden;
    background-color: #e9e9e8;
}

/*Change the style of the links inside the nav bar */

.search a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Padding on top of the searchbar to make it centered*/

.padding_top {
    margin-top: 7px;
}

/*Change the colour of the links on hover */

.search a:hover {
    background-color: #ddd;
    color: black;
}

/*Change active style element to highlight the current page */

.search a.active {
    background-color: orangered;
    color: white;
}

/*Change the style of the search box inside the nav bar */

.search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8x;
    margin-right: 16px;
    font-size: 17px;
}

/* This applies only to the banner search-bar!
When the screen is less than 600px wide, stack the links and the search 
field vertically instead of horizontally */

@media screen and (max-width: 600px) {
    .search a, .search input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .search input[type=text] {
        border: 1px solid #ccc;
    }
}

/**********************************Images section is below**********************************************/

.images {
    margin: auto;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.images {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
}

/*Common elements for the titles in each image */

/*transform/translate*/

.center_title {
    transform: translate(-50%, -50%);
    position: absolute;
}

/*font size for purchase info*/

.bottom_left_title, .bottom_left_cart {
    font-size: 15px;
}

.center_title {
    font-size: 35px;
    top: 50%;
    left: 50%;
}

/*********************************Grid Section Below**********************************************/

.list_container {
    display: grid;
    grid-template-columns: 15% auto 13% 13%;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: left;
}

.cart_wrapper, .description {
    padding-top: 3%;
}

.raiting {
    position: relative;
    top: 29%;
}

.cart_wrapper {
    margin-top: 7%;
}

.checked {
    color: orange;
}